:root {
    --mathematical-operators: #F27F04;
    --matematical-functions: #797979;
    --number: #FFF;
    --boxes: #161616;
    --light-number: #E4E4E4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: black;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.title-container h1 {
    color: var(--number);
    font-weight: bold;
    margin-top: 28px;
    font-size: 4rem;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-calculator {
    width: 80%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin: 15px 0px;
    padding: 10px;
}

.operations {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--light-number);
    margin-bottom: 5px;
}

.result {
    font-size: 3.8rem;
    font-weight: bold;
    color: var(--number);
}

.buttons-container {
    width: 80%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 6px;
    place-content: center;
    position: relative;
}

#by-button {
    font-size: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.box {
    height: 50px;
    border-radius: 15px;
    background-color: var(--boxes);
    border-color: gray;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.box:active{
    background: var(--matematical-functions);
}


.box img {
    width: 20px;
    height: 20px;
}

.number {
    color: var(--number);
}

.matematical-operators {
    color: var(--mathematical-operators);
    font-size: 2.8rem;
}

.clean-display {
    font-size: 1.8rem;
}

.box svg {
    fill: var(--mathematical-operators);
}

#equals {
    background-color: var(--mathematical-operators);
    color: var(--number);
}

.backspace {
    fill: var(--mathematical-operators);
}

.clean-display {
    color: var(--mathematical-operators);
}

#squared-number {
    position: relative;
}

#squared-number .power {
    position: absolute;
    font-size: 0.6rem;
    top: 5px;
    right: 24px;
}

.matematical-function {
    color: var(--matematical-functions);
}

@media (max-width: 490px){
    .buttons-container{
        grid-template-columns: repeat(4,0.6fr) ;
        gap: 20px 15px;
        width: 100%;
        padding: 14px;
        margin-bottom: 45px
    }

    .box {
        font-size: 0.8rem;
    }

    .display-calculator {
        height: 250px;
    }

    .operations {
        font-size: 2.6rem;
    }

    .result {
        font-size: 4.6rem;
    }

    .number {
        font-size: 1.6rem;
    }

    .matematical-operators {
        font-size: 2.8rem;
    }

    .clean-display {
        font-size: 2.4rem;
    }

    main {
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .box img {
        width: 10px;
        height: 10px;
    }
}
